* {
    font-family:Arial, Helvetica, sans-serif;
}
/* 
body {
    background-color: #d6d8dc;
} */

header {
    background-color: #247e9c;
    color: black;
    margin: 10px 10px 15px 10px;
    text-align: center;
}

header h1 {
    display: inline-block;
    font-size: 30px;
    color: white;
}

.float-left {
    float: left;
}


.content {
    width: 70%;
    display: inline-block;
    margin-left: 10px;

}

aside {
    margin: 0px 10px;
    padding: 2px;
    width: 25%;
}

h3 {
    font-size: 24px;
    margin: 0px;
}

input {
    height: 30px;
    width: 96%;
    margin-top: 5px;
}

/* submit button */
button{
    padding: 5px 0px;
    width: 100%;
    background-color: #4aa1bd;
    color: white;
    border-radius: 5px;
    border-width: 1px;
    margin: 12px 0px;
}

.search{
    border-bottom: 1px solid grey;
}

.city-button {
    background-color: rgb(194, 192, 192);
    color: black;
    border-width: 1px;
    margin-bottom: 0px;
}

.city-place {
    padding: 10px;
    border: 1px solid black;
}

.forecast{
    /* padding: 10px 0px; */
    color: black;
}

.five-days {
    /* margin-bottom: 20px; */
    /* padding: 5px; */
    height: 250px;
    background-color: rgb(235, 234, 234);
    color: black;
}

.city-place h2 {
    margin: 10px 0px;
    font-size: 24px;
}

.city-place ul{
    list-style: none;
    padding-left: 0px;
}

.city-place ul li{
    padding: 8px 0px;
}

.forecast h2 {
    font-size: 22px;
}

.five-days h2 {
    margin: 15px 0px;
    font-size: 30px;
}
